<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div><th:block th:replace="fragments/head :: genericHead"></th:block></div>

<body class="d-flex flex-column min-vh-100 col-md-8 mx-auto">
<div th:replace="fragments/header :: header"></div>

<div class="col-md-4 mx-auto">
    <p class="h4 mb-4">Create Ingredient</p>
    <form th:action="@{/ingredients/create}" th:object="${request}" method="post">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input type="text" class="form-control" id="nameInput" th:field="*{name}">
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>

        </div>
        <div class="mb-3">
            <label for="categoryInput" class="form-label">Ingredient category</label>
            <select class="form-control" id="categoryInput" th:field="*{category}">
                <option th:each="category: ${categories}" th:value="${category}" th:text="${category}"/>
            </select>
            <p th:if="${#fields.hasErrors('category')}" th:errorclass="error" th:errors="*{category}"></p>

        </div>
        <button type="submit" class="btn btn-primary mx-auto">Create</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>