<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div>
    <th:block th:replace="fragments/head :: genericHead"></th:block>
</div>
<body class="d-flex flex-column min-vh-100 col-md-8 mx-auto">
<div th:replace="fragments/header :: header"></div>
<h3 class="text-center" th:text="'Steps for recipe: \'' + ${recipeName} + '\''"></h3>

<table class="table table-dark table-bordered table-hover">
    <thead>
    <tr>
        <th>Order No.</th>
        <th>Description</th>
        <th th:if="${#authorization.expression('isAuthenticated()')}">
            Delete
        </th>
        <th th:if="${#authorization.expression('isAuthenticated()')}">
            Update
        </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="step : ${steps}">

        <td th:text="${step.number}" />
        <td th:text="${step.description}" />
        <td th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:action="@{/steps/delete}" method="post">
                <input type="hidden" name="recipeName" th:value="${step.recipe.name}">
                <input type="hidden" name="stepNumber" th:value="${step.number}">
                <input type="submit" value="Delete" class="btn btn-primary btn-sm mb-3"/>
            </form>
        </td>
        <td th:if="${#authorization.expression('isAuthenticated()')}">
            <form th:action="@{/steps/update}" method="get">
                <input type="hidden" name="recipeName" th:value="${step.recipe.name}">
                <input type="hidden" name="stepNumber" th:value="${step.number}">
                <input type="submit" value="Update" class="btn btn-primary btn-sm mb-3"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div class="mb-3">
    <form th:action="@{/steps/new}" method="get">
        <input type="hidden" name="recipeName" th:value="${recipeName}">
        <input type="submit" value="Add Step" class="btn btn-primary"/>
    </form>
</div>

<form th:action="@{/steps/fixNumbers}" method="post">
    <input type="hidden" name="recipeName" th:value="${recipeName}">
    <input type="submit" value="Fix Order" class="btn btn-primary"/>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>